<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Clients SYSTEM "../dtd/clients.dtd">

<Clients>
	<Title>Clients</Title>
  <Client>GQ</Client>
  <Client>Microsoft</Client>
  <Client>Siemens</Client>
  <Client>Sony</Client>
  <Client>Stern</Client>
  <Client>Vodafone</Client>
  <Client>Volkswagen</Client>
  <Client>WWK</Client>
  <Client>Daimler</Client>
  <Client>New York Magazine</Client>
  <Client>ESQUIRE US</Client>
  <Client>Wallpaper Magazine</Client>
  <Client>Mercedes</Client>
  <Client>Vanity Fair</Client>
  <Client>Rolling Stone Magazine</Client>
  <Client>BMW AG</Client>
  <Client>SMART cars</Client>
  <Client>Aston Martin</Client>
  <Client>Corbis Outline</Client>
  <Client>Porsche AG</Client>
  <Client>DIE ZEIT </Client>
  <Client>AUDI</Client>
  <Client>VIBE Magazine</Client>
  <Client>Madame Magazine</Client>
  <Client>AMG</Client>
  <Client>Hyundai Motors America</Client>
  <Client>BMG</Client>
  <Client>Universal Records</Client>
  <Client>Warner Records</Client>
  <Client>Glamour Magazine</Client>
  <Client>VOGUE Business</Client>
  <Client>Vanity Fair Magazine</Client>
  <Client>Honda ACURA</Client>
  <Client>EQUUS</Client>
  <Client>MERCEDES BENZ</Client>
  <Client>FORD USA</Client>

</Clients>
