* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
body {
  font-family: 'Helvetica Neue', 'Helvetica', san-serif;
  font-size: 14px;
  color: #333;
}

h1 {
  letter-spacing: -3px;
  font-size: 5em;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  font-size: 2.5em;
}

a,a:visited {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  margin-bottom: .5rem;
}

h3 {
    margin: 0;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}

li {
    margin-bottom: .5rem;
}

ul {
    margin-bottom: 1.5rem;
    list-style: none;
    padding-left: 2rem;
}

fieldset {
  margin-bottom: 1rem;
  border: none;
  padding: 0;
  margin-bottom: 2rem;
}

fieldset label {
  display: block;
  margin-bottom: .5rem;
}

label {
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
}

audio {
  margin-bottom: 1rem;
  display: block;
}


.button {
  padding: 1em 2em;
  background: #dadada;
  border: 1px solid #bdbdbd;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.link {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}


.application {
  height: 100%;
  overflow: hidden;
}

.main-container {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  padding: 2rem 3rem;
  border-right: 1px solid #d2d2d2;
  background: #f9f9f9;
  width: 200px;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}


.section-page__hover-label {
  display: inline-block;
  position: relative;
}

.section-page__hover-image {
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 1rem;
}

.section-page__hover-loader {
  width: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.page {
  padding: 2rem 4rem 15rem 4rem;
  margin-bottom: 10rem;
}

.page__header {
  margin-bottom: 3rem;
}

.page__section {
  margin-bottom: 64px;
}

.gallery {
  margin: 0;
  padding: 0;
}

.gallery > li {
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
  margin-right: .5rem;
  float: left;
}

.gallery > li.loader {
  width: 100px;
  height: 100px;
}

.gallery > li.loader img {
  width: 100%;
}

.gallery__image-div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  line-height: 100px;
  cursor: move;
}



.gallery__empty-item {
  display: inline-block;
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
  transition: .2s transform;
  vertical-align: top;
  float: left;
}

.gallery__empty-item:hover {
  transform: scale(1.1);
}

.gallery__empty-item label {
  text-align: center;
  line-height: 100px;
  display: block;
  padding: 0;
  margin: 0;
}

.gallery__image-remove {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 100%;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: .4s transform;
  background-image: url('/images/cms/close.svg')
}

.gallery__image-remove:hover {
  transform: scale(1.2);
}

.gallery__image-input {
  position: absolute;
  top: -9999px;
  visibility: hidden;
  opacity: 0;
}

.gallery__align {
  width: 100%;
}

.gallery__align-left {
  position: absolute;
  left: 5px;
}

.gallery__align-right {
  position: absolute;
  right: 5px;
}

.gallery__align svg {
  width: 30px;
  opacity: .3;
}

.gallery__align input:checked ~ label svg {
  opacity: 1;
}

.gallery__align label {
  margin: 0;
  padding: 0;
}

.gallery__align input {
  position: absolute;
  visibility: hidden;
}

.gallery__background {
  position: absolute;
  font-size: 11px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -21px;
}

.gallery__background input {
  position: absolute;
  visibility: hidden;
}

.gallery__background label {
  margin: 0;
}

.gallery__background label:after {
  content: 'black';
  display: inline-block;
  position: relative;
}

.gallery__background input:checked ~ label:after {
  content: 'auto';
}

.gallery__image-menu {
  position: absolute;
  top: 5px;
  left: 5px;
}

.gallery__image-menu input[type='checkbox'] {
  opacity: 0;
  visibility: 0;
}

.gallery__image-menu label {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery__image-menu label .gallery__image-menu-list {
  display: none;
}

.gallery__image-menu input[type='checkbox']:checked ~ label {
  width: 200px;
}

.gallery__image-menu input[type='checkbox']:checked ~ label .gallery__image-menu-list {
  display: block;
  position: relative;
  z-index: 1000;
}

.gallery__image-menu label:before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/cms/copy.svg');
  background-color: black;
  border-radius: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid white;
}

.gallery__image-menu-list {
  margin: 0;
  padding: 0;
  background: white;
  margin-top: 15px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.gallery__image-menu-list li {
  padding: 8px;
  border-bottom: 1px solid #d2d2d2;
  margin: 0;
}

.gallery__image-menu-list li:last-child {
  border: none;
}

.gallery__image-menu-list li:hover {
  background: whitesmoke;
  cursor: pointer;
}
